<!-- <form #loginForm="ngForm">
  
</form> -->
<div class="row" style="height: 500px; width:200px;">
  <h3>Login Form</h3> 
  <div style="margin-top:5px;">
    <label><h4>UserName</h4></label>
    <input type="text" #UserName ngModel name="UserName" placeholder="UserName">

  </div>
  
  <div style="margin-top:5px;">
    <label><h4>Password</h4></label>
    <input type="text" #Password ngModel name="Password" placeholder="Password">

  </div>
  <div style="margin-top:5px;">
  <button class="btn btn-primary">Login</button>
  

</div>
</div>