 <form [formGroup]="loginForm" (ngSubmit)="onSubmit(UserName.value,Password.value)">
  



<div class="row" style="height: 500px; width:200px;">
  <h3>Login Form</h3> 
  <div class="input-field col s12">
    <label><h4>Username</h4></label>
    <input type="text" formControlName="UserName" ngModel name="UserName" placeholder="UserName" required>

  </div>
  
  <div class="input-field col s12" >
    <label><h4>Password</h4></label>
    <input type="text" formControlName="Password" ngModel name="Password" placeholder="Password" required>

  </div>
  <div class="input-field col s12" >
  <button  class="btn btn-primary">Login</button>
  

</div>
</div>
</form> 